body {
  background-color: hsl(236, 100%, 72%);
  background-blend-mode: overlay;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Georgia, serif;
}

 html{
  height: 100%;
  width: 100%;
}

#myCanvas2 {
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  background-image: url("bgs.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



